---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { SITE } from "@consts";



type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;

let schema = JSON.stringify({
  "@context": "https://schema.org/",
  "@type": "BlogPosting",
  "headline": title,
  "author": {
    "@type": "Person",
    "name": "Muhammad Rizki"
  },
  "description": description,
  "inLanguage ": "id-ID",
});


---

<!doctype html>
<html lang="id">
  <head>
    <!-- schema -->
    <script type="application/ld+json" set:html={schema}></script>

    <Head title={`${title} | ${SITE.TITLE}`} description={description} />

  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <PageFind />
  </body>
</html>
